import /vendor/etc/init/hw/init.opi5.usb.rc

on init
    symlink /sdcard /storage/sdcard0


on fs
    mount_all /vendor/etc/fstab.opi5 --early

on late-fs
    mount_all /vendor/etc/fstab.opi5 --late

    

